@using Data.Entity;
@model Guide
@{
    ViewBag.Title = "EditNews";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<GuideGroup> listCate = ViewBag.listCate as List<GuideGroup>;
}

    @if (Model == null)
    {
        <h3 style="padding-top:50px;padding-bottom:20px; font-family:'Times New Roman', Times, serif">Thêm Bài Viết Hướng Dẫn</h3>
    }
    else
    {
        <h3 style="padding-top:50px;padding-bottom:20px; font-family:'Times New Roman', Times, serif">Chỉnh Sửa Bài Viết Hướng Dẫn</h3>
    }

    <form id="formEdit" enctype="multipart/form-data">

        <div>
            <label for="title">Tiêu đề:</label>
            <input class="form-control" id="title" value="@if (Model != null) { @Model.Title}" />
        </div>
        <br />
        <div>

            <label for="file">Image:</label>
            <input type="file" name="ImageFile" id="ImageFile" /><br>
            @if (Model != null)
            {
                if (Model.Image != null)
                {
                    <img height="100px" src="~/Images/Guide/@Model.Image" />
                }
            }
        </div>
        <div>
            <label for="lop">Danh Mục:</label>

            <select id="Cate" style="width:20%" class="form-control">
                @if (listCate != null && listCate.Count > 0)
                {
                    foreach (var item in listCate)
                    {
                        if (Model != null)
                        {
                            if (item.GuideGroupID == Model.GuideCateID)
                            {
                                <option value="@item.GuideGroupID" selected>@item.Title</option>
                            }
                            else
                            {
                                <option value="@item.GuideGroupID">@item.Title</option>
                            }
                        }
                        else
                        {
                            <option value="@item.GuideGroupID">@item.Title</option>
                        }
                    }
                }
            </select>
        </div>
        <br />

        <div>
            <label for="contents">Mô Tả:</label>
            <textarea id="contents">@if (Model != null) { @Model.Des}</textarea>
        </div>



    </form><br />
    @if (Model == null)
    {
        <div style=" text-align:center">
            <button id="them" class="btn btn-danger">Thêm</button>

        </div>
    }
    else
    {
        <div style=" text-align:center">
            <button id="capnhat" class="btn btn-danger">Cập nhật</button>

        </div>
    }



<script src="~/Content/js/jquery-1.10.2.js"></script>
<script src="~/Content/js/bootstrap.js"></script>
<script src="~/Content/js/jquery.parallax-1.1.3.js"></script>
<script>
    $(document).ready(function () {

        var editor = CKEDITOR.replace('contents', {
            customConfig: '/Assets/Admin/js/plugins/ckeditor/config.js',
        });
        // Cấu hình lại màu nền giao diện và chiều cao
        CKEDITOR.config.uiColor = '#9AB8F3';
        CKEDITOR.config.height = '250px';
    });

    $('#them').on('click', function () {
        if (CKEDITOR.instances.contents.getData() == '' || $('#title').val() == "") {
            alert('Bạn chưa nhập đủ thông tin!');
        } else {
            if ($('#ImageFile').get(0).files.length == 0) {
                alert('Bạn cần chọn ảnh cho bài!');
            }
            else {
                var data = new FormData($('#formEdit')[0]);
                data.append("ImageFile", $('#ImageFile').get(0).files[0]);
                data.append("Title", $('#title').val());
                data.append("Des", CKEDITOR.instances.contents.getData());
                data.append("GuideCateID", $('#Cate :selected').val());

                for (var pair of data.entries()) {
                    console.log(pair[0] + ', ' + pair[1]);
                }
                debugger;
                $.ajax({
                    type: "POST", url: "/Admin/GuideAdmin/AddPost",
                    data: data, cache: false,
                    contentType: false, processData: false,
                    success: function (d) {
                        if (d == true) {
                            alert("Thêm thành công!");
                            window.location.href = "/Admin/GuideAdmin/ListGuide";
                        } else {
                            alert("Đã xãy ra lỗi!");
                        }
                    },
                    error: function (xhr, textStatus) {
                        console.log(xhr + "\n" + textStatus);
                    }
                });
            }
        }
    });

</script>
@if (Model != null)
{
    <script>
        $('#capnhat').on('click', function() {
            if (CKEDITOR.instances.contents.getData() == '' || $('#title').val() == "") {
                alert('Bạn chưa nhập đủ thông tin!');
            }
        else {
                var data = new FormData();
                data.append("NewsID", @Model.ID);
                data.append("ImageFile", $('#ImageFile').get(0).files[0]);
                data.append("Title", $('#title').val());
                data.append("GuideCateID", $('#Cate :selected').val());
                data.append("Des", CKEDITOR.instances.contents.getData());

            $.ajax({
                type: "POST", url: "/GuideAdmin/doEdit",
                data: data,
                contentType: false, processData: false, cache: false,
                success: function(d) {
                    if (d == true) {
                        alert("Cập nhật thành công!");
                        window.location.href = "/Admin/GuideAdmin/ListGuide";
                    } else {
                        alert("Đã xãy ra lỗi!");
                    }
                },
                error: function(xhr, textStatus) {
                    console.log(xhr + "\n" + textStatus);
                }
            });
        }
    });
    </script>
}